<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="44768AbhishekPaudel.Tanpura" Publisher="CN=A5CD56AD-BB34-4BDF-BA60-B0D2F76A2D9B" Version="1.1.0.1" />
  <mp:PhoneIdentity PhoneProductId="bdb9047b-37b6-4483-a5ec-4e04f8dcafc1" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Tanpura</DisplayName>
    <PublisherDisplayName>Abhishek Paudel</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tanpura_WP.App">
      <m3:VisualElements DisplayName="Tanpura" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Tanpura is a long-necked plucked string instrument found in various forms in Indian music. This app is a digital version of traditional Tanpura." ForegroundText="light" BackgroundColor="#20282b">
        <m3:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#20282b" />
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>